h1{
    text-align: center;
}
#Main-Wrap-Cards{
    display: flex;
    gap: 5rem;
    justify-content: center;
    /* background-color: rgb(140, 188, 188); */
    background-color: rgb(107, 154, 194);
    height: 250px;
    align-items: center;
    border-radius: 15px;
}
#Main-Wrap-Cards .card{
    display: flex;
    width: 200px;
    height: 50%;
    border: solid rgb(0, 255, 221) 2px;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    color: rgb(132, 84, 84);
    cursor: pointer;
    background-color: whitesmoke;
    
}

#Main-Wrap-Cards .card:hover {
    color: rgb(176, 138, 92);
    font-size: 20px;
    transition: .5s;
    text-shadow: 9px 15px 16px  black;
    background-color:rgb(140, 188, 188) ;
}